body {
    font-family:'Cormorant Garamont';
    margin: 0;
    padding: 0;
    background-color: #F7F4F3;
    font-weight:500;
}

@font-face {
    font-family: "Cormorant Garamont";
    src: url(../fonts/CormorantGaramond-VariableFont_wght.ttf);
  }

div {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
}

p {
    font-size: large;
}
img {
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}

hr {
    margin: 0;
    padding: 0;
}

header .logo_Branly > img {
    width: 70px;
    height: 70px;
}

/*------------------------------------------------------------------------*/
/*                              HEADER                                    */
/*------------------------------------------------------------------------*/


header {
    top: 0;
    background-color: #ca2b2b;
    border-radius: 0 0 15px 15px;
    position: fixed;
    padding: 0;
    width: 100%;
}

.menu > nav {
    margin : 0 0 0 70px;
    padding: 0;
}

header > .logo_Branly > img {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: block;
    width: 70px;
    height: 70px;
}

header > div {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
    align-content: center;
    text-align: center;
    margin: 10px;
}

.menu > nav > ul {
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: right;
    column-gap: 20px;
    margin-top: 20px;
}

.menu > nav > ul > li {
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.menu > nav > ul > li > a {
    margin: 0;
    padding: 2% 20px;
    border-radius: 7px;
    font-size: large;
}

.menu > nav > ul > li > a:link {
    background-color: white;
    color: #4D4542;
}

.menu > nav > ul > li > a:hover {
    background-color: #EFB921;
    color: #4D4542;
}

.menu > nav > ul > li > a:visited {
    color: #4D4542;
}

/*------------------------------------------------------------------------*/
/*                               MAIN                                     */
/*------------------------------------------------------------------------*/

main {
    margin: 0 10% 0 10%;
    padding-top: 150px;
}


.presentation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 80px;
}


.texte {
    flex: 1;
    padding-right: 20px;
    font-size: large;
}


.portrait {
    width: 300px;
    height: auto;
}


.portrait img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/*------------------------------------------------------------------------*/
/*                              FOOTER                                    */
/*------------------------------------------------------------------------*/

footer {
    background-color: #ca2b2b;
    text-decoration: none;
    padding: 0 10px 10px 10px;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: center;
}

footer > div {
    display: inline-flex;
}

footer > div{
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

footer > div > div > nav > img {
    width : 100px;
    height: 100px;
}