body {
    font-family:'Cormorant Garamont';
    margin: 0 10% 0 10%;
    padding: 0;
    background-color: #F7F4F3;
}

div {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}

hr {
    margin: 0;
    padding: 0;
}

/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/